<a href="https://colab.research.google.com/github/gaurav700/DataScience-ML/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
import pandas as pd
import numpy as np

Creating dataframe from data

In [ ]:
data = {
    "Name" : ["Gaurav", "Kunal Babbar", "Runjeeth Nikam"],
    "Age" : [24,35,45],
    "Salary" : [23000, 25000, 28000]
}

df = pd.DataFrame(data)
df

             Name  Age  Salary
0          Gaurav   24   23000
1    Kunal Babbar   35   25000
2  Runjeeth Nikam   45   28000

Importing Excel , CSV file

In [ ]:
data = pd.read_csv('/content/Customers_Data.csv', encoding='latin1')
data

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18143,29479,MR.,TOMMY,TANG,7/4/1958,M,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y
18144,29480,MRS.,NINA,RAJI,11/10/1960,S,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y
18145,29481,MR.,IVAN,SURI,1/5/1960,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N
18146,29482,MR.,CLAYTON,ZHANG,3/5/1959,M,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y
18147,29483,MR.,JÉSUS,NAVARRO,12/8/1959,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y

# Exploring Data

In [ ]:
data.head(5)

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y

In [ ]:
data.tail(5)

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
18143,29479,MR.,TOMMY,TANG,7/4/1958,M,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y
18144,29480,MRS.,NINA,RAJI,11/10/1960,S,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y
18145,29481,MR.,IVAN,SURI,1/5/1960,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N
18146,29482,MR.,CLAYTON,ZHANG,3/5/1959,M,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y
18147,29483,MR.,JÉSUS,NAVARRO,12/8/1959,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18148 entries, 0 to 18147
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     18148 non-null  int64
 1   Prefix          18018 non-null  object
 2   FirstName       18148 non-null  object
 3   LastName        18148 non-null  object
 4   BirthDate       18148 non-null  object
 5   MaritalStatus   18148 non-null  object
 6   Gender          18018 non-null  object
 7   EmailAddress    18148 non-null  object
 8   AnnualIncome    18148 non-null  object
 9   TotalChildren   18148 non-null  int64
 10  EducationLevel  18148 non-null  object
 11  Occupation      18148 non-null  object
 12  HomeOwner       18148 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.8+ MB

In [ ]:
data.describe()

        CustomerKey  TotalChildren
count  18148.000000   18148.000000
mean   20247.470465       1.843619
std     5336.245656       1.613203
min    11000.000000       0.000000
25%    15626.750000       0.000000
50%    20252.500000       2.000000
75%    24868.250000       3.000000
max    29483.000000       5.000000

In [ ]:
data.isnull().sum()

CustomerKey         0
Prefix            130
FirstName           0
LastName            0
BirthDate           0
MaritalStatus       0
Gender            130
EmailAddress        0
AnnualIncome        0
TotalChildren       0
EducationLevel      0
Occupation          0
HomeOwner           0
dtype: int64

# Handling duplicate values

In [ ]:
data['BirthDate'].duplicated().sum()

np.int64(9958)

In [ ]:
data.drop_duplicates("BirthDate")

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18122,29458,MR.,DANNY,MORENO,2/24/1977,S,M,danny7@adventure-works.com,"$10,000",0,High School,Manual,Y
18124,29460,MR.,ANDRES,CHANDER,3/15/1977,M,M,andres13@adventure-works.com,"$10,000",0,High School,Manual,N
18125,29461,MR.,COLIN,XU,10/9/1977,M,M,colin28@adventure-works.com,"$10,000",0,High School,Manual,Y
18145,29481,MR.,IVAN,SURI,1/5/1960,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N
18147,29483,MR.,JÉSUS,NAVARRO,12/8/1959,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y

# Working with missing data

In [ ]:
data.isnull().sum()

CustomerKey         0
Prefix            130
FirstName           0
LastName            0
BirthDate           0
MaritalStatus       0
Gender            130
EmailAddress        0
AnnualIncome        0
TotalChildren       0
EducationLevel      0
Occupation          0
HomeOwner           0
dtype: int64

In [ ]:
data.dropna()

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18143,29479,MR.,TOMMY,TANG,7/4/1958,M,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y
18144,29480,MRS.,NINA,RAJI,11/10/1960,S,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y
18145,29481,MR.,IVAN,SURI,1/5/1960,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N
18146,29482,MR.,CLAYTON,ZHANG,3/5/1959,M,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y
18147,29483,MR.,JÉSUS,NAVARRO,12/8/1959,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y

In [ ]:
data['Gender'] = data['Gender'].replace(np.nan, 'M')

In [ ]:
data.isnull().sum()

CustomerKey         0
Prefix            130
FirstName           0
LastName            0
BirthDate           0
MaritalStatus       0
Gender              0
EmailAddress        0
AnnualIncome        0
TotalChildren       0
EducationLevel      0
Occupation          0
HomeOwner           0
dtype: int64

In [ ]:
data['Prefix'] = data['Prefix'].bfill() # Backward fill means it fills the nan value with value below that and in forward fill its vice versa.

In [ ]:
data.isnull().sum()

CustomerKey       0
Prefix            0
FirstName         0
LastName          0
BirthDate         0
MaritalStatus     0
Gender            0
EmailAddress      0
AnnualIncome      0
TotalChildren     0
EducationLevel    0
Occupation        0
HomeOwner         0
dtype: int64

# Column transformations

In [ ]:
data.head()

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y

In [ ]:
# where children are 2 we give them 10000 bonus and if more than that we give 0 and if less than 2 we give them 20000 bonus

data.loc[(data['TotalChildren'] == 2), "Bonus"] = "$10000"
data.loc[(data['TotalChildren'] < 2), "Bonus"] = "$20000"
data.loc[(data['TotalChildren'] > 2), "Bonus"] = "$0"

In [ ]:
data

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner,Bonus
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y,$10000
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N,$0
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y,$0
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N,$20000
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y,$0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18143,29479,MR.,TOMMY,TANG,7/4/1958,M,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y,$20000
18144,29480,MRS.,NINA,RAJI,11/10/1960,S,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y,$0
18145,29481,MR.,IVAN,SURI,1/5/1960,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N,$0
18146,29482,MR.,CLAYTON,ZHANG,3/5/1959,M,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y,$0
18147,29483,MR.,JÉSUS,NAVARRO,12/8/1959,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y,$20000

In [ ]:
data['FirstName'] = data['FirstName'].str.capitalize() + " " + data['LastName'].str.capitalize()

In [ ]:
data = data.drop(columns=['LastName'])

In [ ]:
data.rename(columns={'FirstName': 'FullName'}, inplace=True)

In [ ]:
data['FullName'] = data['Prefix'] + " " + data['FullName']
data = data.drop(columns=['Prefix'])

In [ ]:
data.loc[data['MaritalStatus'] == 'M', 'MaritalStatus'] = 'Married'
data.loc[data['MaritalStatus'] == 'S', 'MaritalStatus'] = 'Single'

In [ ]:
data

,CustomerKey,FullName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner,Bonus
0,11000,MR. Jon Yang,4/8/1966,Married,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y,$10000
1,11001,MR. Eugene Huang,5/14/1965,Single,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N,$0
2,11002,MR. Ruben Torres,8/12/1965,Married,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y,$0
3,11003,MS. Christy Zhu,2/15/1968,Single,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N,$20000
4,11004,MRS. Elizabeth Johnson,8/8/1968,Single,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y,$0
...,...,...,...,...,...,...,...,...,...,...,...,...
18143,29479,MR. Tommy Tang,7/4/1958,Married,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y,$20000
18144,29480,MRS. Nina Raji,11/10/1960,Single,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y,$0
18145,29481,MR. Ivan Suri,1/5/1960,Single,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N,$0
18146,29482,MR. Clayton Zhang,3/5/1959,Married,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y,$0
18147,29483,MR. Jésus Navarro,12/8/1959,Married,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y,$20000

# Map using

In [ ]:
months = {"Months": ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']}
df = pd.DataFrame(months)

In [ ]:
def extract(value):
  if(value =='September'):
    return value[:4].upper()
  return value[:3].upper()

df['Abbreviations'] = df['Months'].map(extract)

In [ ]:
df

       Months Abbreviations
0     January           JAN
1    February           FEB
2       March           MAR
3       April           APR
4         May           MAY
5        June           JUN
6        July           JUL
7      August           AUG
8   September          SEPT
9     October           OCT
10   November           NOV
11   December           DEC

# Group by

In [ ]:
data.head(10)

,CustomerKey,FullName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner,Bonus
0,11000,MR. Jon Yang,4/8/1966,Married,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y,$10000
1,11001,MR. Eugene Huang,5/14/1965,Single,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N,$0
2,11002,MR. Ruben Torres,8/12/1965,Married,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y,$0
3,11003,MS. Christy Zhu,2/15/1968,Single,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N,$20000
4,11004,MRS. Elizabeth Johnson,8/8/1968,Single,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y,$0
5,11005,MR. Julio Ruiz,8/5/1965,Single,M,julio1@adventure-works.com,"$70,000",0,Bachelors,Professional,Y,$20000
6,11007,MR. Marco Mehta,5/9/1964,Married,M,marco14@adventure-works.com,"$60,000",3,Bachelors,Professional,Y,$0
7,11008,MRS. Robin Verhoff,7/7/1964,Single,F,rob4@adventure-works.com,"$60,000",4,Bachelors,Professional,Y,$0
8,11009,MR. Shannon Carlson,4/1/1964,Single,M,shannon38@adventure-works.com,"$70,000",0,Bachelors,Professional,N,$20000
9,11010,MS. Jacquelyn Suarez,2/6/1964,Single,F,jacquelyn20@adventure-works.com,"$70,000",0,Bachelors,Professional,N,$20000

In [ ]:
gp = data.groupby(['EducationLevel', 'Gender']).agg({"CustomerKey": "count"})
gp

                            CustomerKey
EducationLevel      Gender
Bachelors           F              2564
                    M              2697
Graduate Degree     F              1567
                    M              1558
High School         F              1555
                    M              1686
Partial College     F              2465
                    M              2501
Partial High School F               741
                    M               814

In [ ]:
gp = data.groupby(['MaritalStatus', 'Gender']).agg({"AnnualIncome": "max", "TotalChildren": "max"})
gp

                     AnnualIncome  TotalChildren
MaritalStatus Gender
Married       F          $90,000               5
              M          $90,000               5
Single        F          $90,000               5
              M          $90,000               5

# Merging , concatenate and join

In [ ]:
df1 = pd.DataFrame({
    "emp_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13, 14, 25, 26, 17, 28, 19, 20],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hank", "Ivy", "Jack",
             "Kathy", "Leo", "Mona", "Nina", "Oscar", "Paul", "Quincy", "Rachel", "Steve", "Tina"],
    "age": [28, 32, 26, 40, 29, 35, 27, 31, 30, 33, 25, 29, 41, 36, 23, 39, 45, 38, 42, 34],
    "department": ["Engineering", "HR", "Sales", "Finance", "Marketing", "IT", "Operations", "Support", "Admin", "HR",
                   "Engineering", "Sales", "Finance", "IT", "Operations", "Marketing", "HR", "Admin", "IT", "Support"],
    "city": ["New York", "Los Angeles", "Chicago", "Houston", "Miami", "Boston", "Austin", "Seattle", "Denver", "Phoenix",
             "San Francisco", "Dallas", "San Diego", "Orlando", "Atlanta", "Portland", "Las Vegas", "Philadelphia", "Detroit", "Minneapolis"],
    "email": ["alice@email.com", "bob@email.com", "charlie@email.com", "david@email.com", "eve@email.com",
              "frank@email.com", "grace@email.com", "hank@email.com", "ivy@email.com", "jack@email.com",
              "kathy@email.com", "leo@email.com", "mona@email.com", "nina@email.com", "oscar@email.com",
              "paul@email.com", "quincy@email.com", "rachel@email.com", "steve@email.com", "tina@email.com"],
    "phone": ["555-1234", "555-5678", "555-9101", "555-1121", "555-3141",
              "555-5161", "555-7181", "555-9202", "555-1222", "555-3242",
              "555-5262", "555-7282", "555-9303", "555-1343", "555-3363",
              "555-5383", "555-7404", "555-1424", "555-3444", "555-5464"],
    "gender": ["F", "M", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "F", "M", "M", "M", "F", "M", "F"],
    "hire_date": ["2015-06-23", "2018-09-17", "2020-01-04", "2012-12-11", "2019-05-29",
                  "2016-07-21", "2021-03-30", "2017-08-15", "2014-04-10", "2018-11-20",
                  "2013-06-05", "2019-09-18", "2016-02-22", "2021-07-12", "2015-10-08",
                  "2017-12-01", "2011-03-09", "2014-08-19", "2012-11-05", "2016-06-30"],
    "status": ["Active", "Active", "On Leave", "Inactive", "Active", "Active", "On Leave", "Inactive", "Active", "Active",
               "Inactive", "Active", "Active", "On Leave", "Inactive", "Active", "Active", "Inactive", "On Leave", "Active"]
})

In [ ]:
df2 = pd.DataFrame({
    "emp_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    "salary": [85000, 72000, 60000, 95000, 68000, 73000, 78000, 65000, 71000, 89000,
               80000, 67000, 74000, 69000, 76000, 84000, 92000, 71000, 88000, 77000],
    "bonus": [5000, 3000, 2000, 8000, 2500, 4000, 3500, 2200, 2800, 6000,
              4500, 2700, 3200, 2900, 3400, 4800, 5300, 3000, 5600, 3700],
    "experience_years": [5, 7, 3, 10, 4, 6, 8, 3, 5, 9, 7, 4, 6, 5, 7, 8, 12, 5, 11, 6],
    "performance_rating": [4, 3, 5, 4, 3, 4, 3, 5, 4, 5, 4, 3, 4, 3, 5, 4, 5, 3, 4, 4],
    "overtime_hours": [10, 5, 8, 12, 6, 9, 7, 11, 6, 13, 9, 5, 7, 6, 8, 10, 15, 7, 14, 9],
    "promotion_status": ["Yes", "No", "Yes", "No", "No", "Yes", "No", "Yes", "No", "Yes",
                         "No", "Yes", "No", "No", "Yes", "No", "Yes", "No", "Yes", "No"],
    "work_location": ["Remote", "Onsite", "Onsite", "Hybrid", "Remote", "Hybrid", "Onsite", "Remote", "Onsite", "Hybrid",
                      "Remote", "Onsite", "Hybrid", "Onsite", "Remote", "Hybrid", "Onsite", "Remote", "Hybrid", "Onsite"],
    "last_promotion_year": [2019, 2021, 2020, 2018, 2022, 2020, 2019, 2023, 2021, 2018,
                             2017, 2022, 2020, 2021, 2019, 2018, 2016, 2022, 2017, 2020],
    "certifications": [2, 3, 1, 4, 2, 3, 2, 1, 3, 4, 2, 2, 3, 2, 1, 3, 4, 3, 4, 2]
})

In [ ]:
print(df1)
print(df2)

    emp_id     name  age   department           city              email  \
0        1    Alice   28  Engineering       New York    alice@email.com
1        2      Bob   32           HR    Los Angeles      bob@email.com
2        3  Charlie   26        Sales        Chicago  charlie@email.com
3        4    David   40      Finance        Houston    david@email.com
4        5      Eve   29    Marketing          Miami      eve@email.com
5        6    Frank   35           IT         Boston    frank@email.com
6        7    Grace   27   Operations         Austin    grace@email.com
7        8     Hank   31      Support        Seattle     hank@email.com
8        9      Ivy   30        Admin         Denver      ivy@email.com
9       10     Jack   33           HR        Phoenix     jack@email.com
10      11    Kathy   25  Engineering  San Francisco    kathy@email.com
11      22      Leo   29        Sales         Dallas      leo@email.com
12      13     Mona   41      Finance      San Diego     mona@email.com
13      14     Nina   36           IT        Orlando     nina@email.com
14      25    Oscar   23   Operations        Atlanta    oscar@email.com
15      26     Paul   39    Marketing       Portland     paul@email.com
16      17   Quincy   45           HR      Las Vegas   quincy@email.com
17      28   Rachel   38        Admin   Philadelphia   rachel@email.com
18      19    Steve   42           IT        Detroit    steve@email.com
19      20     Tina   34      Support    Minneapolis     tina@email.com

       phone gender   hire_date    status
0   555-1234      F  2015-06-23    Active
1   555-5678      M  2018-09-17    Active
2   555-9101      M  2020-01-04  On Leave
3   555-1121      M  2012-12-11  Inactive
4   555-3141      F  2019-05-29    Active
5   555-5161      M  2016-07-21    Active
6   555-7181      F  2021-03-30  On Leave
7   555-9202      M  2017-08-15  Inactive
8   555-1222      F  2014-04-10    Active
9   555-3242      M  2018-11-20    Active
10  555-5262      F  2013-06-05  Inactive
11  555-7282      M  2019-09-18    Active
12  555-9303      F  2016-02-22    Active
13  555-1343      F  2021-07-12  On Leave
14  555-3363      M  2015-10-08  Inactive
15  555-5383      M  2017-12-01    Active
16  555-7404      M  2011-03-09    Active
17  555-1424      F  2014-08-19  Inactive
18  555-3444      M  2012-11-05  On Leave
19  555-5464      F  2016-06-30    Active
    emp_id  salary  bonus  experience_years  performance_rating  \
0        1   85000   5000                 5                   4
1        2   72000   3000                 7                   3
2        3   60000   2000                 3                   5
3        4   95000   8000                10                   4
4        5   68000   2500                 4                   3
5        6   73000   4000                 6                   4
6        7   78000   3500                 8                   3
7        8   65000   2200                 3                   5
8        9   71000   2800                 5                   4
9       10   89000   6000                 9                   5
10      11   80000   4500                 7                   4
11      12   67000   2700                 4                   3
12      13   74000   3200                 6                   4
13      14   69000   2900                 5                   3
14      15   76000   3400                 7                   5
15      16   84000   4800                 8                   4
16      17   92000   5300                12                   5
17      18   71000   3000                 5                   3
18      19   88000   5600                11                   4
19      20   77000   3700                 6                   4

    overtime_hours promotion_status work_location  last_promotion_year  \
0               10              Yes        Remote                 2019
1                5               No        Onsite                 2021
2                8              Yes        Onsite                 2020
3               12               No        Hybrid                 2018
4                6               No        Remote                 2022
5                9              Yes        Hybrid                 2020
6                7               No        Onsite                 2019
7               11              Yes        Remote                 2023
8                6               No        Onsite                 2021
9               13              Yes        Hybrid                 2018
10               9               No        Remote                 2017
11               5              Yes        Onsite                 2022
12               7               No        Hybrid                 2020
13               6               No        Onsite                 2021
14               8              Yes        Remote                 2019
15              10               No        Hybrid                 2018
16              15              Yes        Onsite                 2016
17               7               No        Remote                 2022
18              14              Yes        Hybrid                 2017
19               9               No        Onsite                 2020

    certifications
0                2
1                3
2                1
3                4
4                2
5                3
6                2
7                1
8                3
9                4
10               2
11               2
12               3
13               2
14               1
15               3
16               4
17               3
18               4
19               2

# merge only join the rows that are has same on attribute

In [ ]:
pd.merge(df1,df2, on="emp_id")

,emp_id,name,age,department,city,email,phone,gender,hire_date,status,salary,bonus,experience_years,performance_rating,overtime_hours,promotion_status,work_location,last_promotion_year,certifications
0,1,Alice,28,Engineering,New York,alice@email.com,555-1234,F,2015-06-23,Active,85000,5000,5,4,10,Yes,Remote,2019,2
1,2,Bob,32,HR,Los Angeles,bob@email.com,555-5678,M,2018-09-17,Active,72000,3000,7,3,5,No,Onsite,2021,3
2,3,Charlie,26,Sales,Chicago,charlie@email.com,555-9101,M,2020-01-04,On Leave,60000,2000,3,5,8,Yes,Onsite,2020,1
3,4,David,40,Finance,Houston,david@email.com,555-1121,M,2012-12-11,Inactive,95000,8000,10,4,12,No,Hybrid,2018,4
4,5,Eve,29,Marketing,Miami,eve@email.com,555-3141,F,2019-05-29,Active,68000,2500,4,3,6,No,Remote,2022,2
5,6,Frank,35,IT,Boston,frank@email.com,555-5161,M,2016-07-21,Active,73000,4000,6,4,9,Yes,Hybrid,2020,3
6,7,Grace,27,Operations,Austin,grace@email.com,555-7181,F,2021-03-30,On Leave,78000,3500,8,3,7,No,Onsite,2019,2
7,8,Hank,31,Support,Seattle,hank@email.com,555-9202,M,2017-08-15,Inactive,65000,2200,3,5,11,Yes,Remote,2023,1
8,9,Ivy,30,Admin,Denver,ivy@email.com,555-1222,F,2014-04-10,Active,71000,2800,5,4,6,No,Onsite,2021,3
9,10,Jack,33,HR,Phoenix,jack@email.com,555-3242,M,2018-11-20,Active,89000,6000,9,5,13,Yes,Hybrid,2018,4
10,11,Kathy,25,Engineering,San Francisco,kathy@email.com,555-5262,F,2013-06-05,Inactive,80000,4500,7,4,9,No,Remote,2017,2
11,13,Mona,41,Finance,San Diego,mona@email.com,555-9303,F,2016-02-22,Active,74000,3200,6,4,7,No,Hybrid,2020,3
12,14,Nina,36,IT,Orlando,nina@email.com,555-1343,F,2021-07-12,On Leave,69000,2900,5,3,6,No,Onsite,2021,2
13,17,Quincy,45,HR,Las Vegas,quincy@email.com,555-7404,M,2011-03-09,Active,92000,5300,12,5,15,Yes,Onsite,2016,4
14,19,Steve,42,IT,Detroit,steve@email.com,555-3444,M,2012-11-05,On Leave,88000,5600,11,4,14,Yes,Hybrid,2017,4
15,20,Tina,34,Support,Minneapolis,tina@email.com,555-5464,F,2016-06-30,Active,77000,3700,6,4,9,No,Onsite,2020,2

# Left join

In [ ]:
pd.merge(left=df1, right=df2, on="emp_id", how="left")

,emp_id,name,age,department,city,email,phone,gender,hire_date,status,salary,bonus,experience_years,performance_rating,overtime_hours,promotion_status,work_location,last_promotion_year,certifications
0,1,Alice,28,Engineering,New York,alice@email.com,555-1234,F,2015-06-23,Active,85000.0,5000.0,5.0,4.0,10.0,Yes,Remote,2019.0,2.0
1,2,Bob,32,HR,Los Angeles,bob@email.com,555-5678,M,2018-09-17,Active,72000.0,3000.0,7.0,3.0,5.0,No,Onsite,2021.0,3.0
2,3,Charlie,26,Sales,Chicago,charlie@email.com,555-9101,M,2020-01-04,On Leave,60000.0,2000.0,3.0,5.0,8.0,Yes,Onsite,2020.0,1.0
3,4,David,40,Finance,Houston,david@email.com,555-1121,M,2012-12-11,Inactive,95000.0,8000.0,10.0,4.0,12.0,No,Hybrid,2018.0,4.0
4,5,Eve,29,Marketing,Miami,eve@email.com,555-3141,F,2019-05-29,Active,68000.0,2500.0,4.0,3.0,6.0,No,Remote,2022.0,2.0
5,6,Frank,35,IT,Boston,frank@email.com,555-5161,M,2016-07-21,Active,73000.0,4000.0,6.0,4.0,9.0,Yes,Hybrid,2020.0,3.0
6,7,Grace,27,Operations,Austin,grace@email.com,555-7181,F,2021-03-30,On Leave,78000.0,3500.0,8.0,3.0,7.0,No,Onsite,2019.0,2.0
7,8,Hank,31,Support,Seattle,hank@email.com,555-9202,M,2017-08-15,Inactive,65000.0,2200.0,3.0,5.0,11.0,Yes,Remote,2023.0,1.0
8,9,Ivy,30,Admin,Denver,ivy@email.com,555-1222,F,2014-04-10,Active,71000.0,2800.0,5.0,4.0,6.0,No,Onsite,2021.0,3.0
9,10,Jack,33,HR,Phoenix,jack@email.com,555-3242,M,2018-11-20,Active,89000.0,6000.0,9.0,5.0,13.0,Yes,Hybrid,2018.0,4.0
10,11,Kathy,25,Engineering,San Francisco,kathy@email.com,555-5262,F,2013-06-05,Inactive,80000.0,4500.0,7.0,4.0,9.0,No,Remote,2017.0,2.0
11,22,Leo,29,Sales,Dallas,leo@email.com,555-7282,M,2019-09-18,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Mona,41,Finance,San Diego,mona@email.com,555-9303,F,2016-02-22,Active,74000.0,3200.0,6.0,4.0,7.0,No,Hybrid,2020.0,3.0
13,14,Nina,36,IT,Orlando,nina@email.com,555-1343,F,2021-07-12,On Leave,69000.0,2900.0,5.0,3.0,6.0,No,Onsite,2021.0,2.0
14,25,Oscar,23,Operations,Atlanta,oscar@email.com,555-3363,M,2015-10-08,Inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,26,Paul,39,Marketing,Portland,paul@email.com,555-5383,M,2017-12-01,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Quincy,45,HR,Las Vegas,quincy@email.com,555-7404,M,2011-03-09,Active,92000.0,5300.0,12.0,5.0,15.0,Yes,Onsite,2016.0,4.0
17,28,Rachel,38,Admin,Philadelphia,rachel@email.com,555-1424,F,2014-08-19,Inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,Steve,42,IT,Detroit,steve@email.com,555-3444,M,2012-11-05,On Leave,88000.0,5600.0,11.0,4.0,14.0,Yes,Hybrid,2017.0,4.0
19,20,Tina,34,Support,Minneapolis,tina@email.com,555-5464,F,2016-06-30,Active,77000.0,3700.0,6.0,4.0,9.0,No,Onsite,2020.0,2.0

#right join

In [ ]:
pd.merge(left=df1, right=df2, on="emp_id", how="right")

,emp_id,name,age,department,city,email,phone,gender,hire_date,status,salary,bonus,experience_years,performance_rating,overtime_hours,promotion_status,work_location,last_promotion_year,certifications
0,1,Alice,28.0,Engineering,New York,alice@email.com,555-1234,F,2015-06-23,Active,85000,5000,5,4,10,Yes,Remote,2019,2
1,2,Bob,32.0,HR,Los Angeles,bob@email.com,555-5678,M,2018-09-17,Active,72000,3000,7,3,5,No,Onsite,2021,3
2,3,Charlie,26.0,Sales,Chicago,charlie@email.com,555-9101,M,2020-01-04,On Leave,60000,2000,3,5,8,Yes,Onsite,2020,1
3,4,David,40.0,Finance,Houston,david@email.com,555-1121,M,2012-12-11,Inactive,95000,8000,10,4,12,No,Hybrid,2018,4
4,5,Eve,29.0,Marketing,Miami,eve@email.com,555-3141,F,2019-05-29,Active,68000,2500,4,3,6,No,Remote,2022,2
5,6,Frank,35.0,IT,Boston,frank@email.com,555-5161,M,2016-07-21,Active,73000,4000,6,4,9,Yes,Hybrid,2020,3
6,7,Grace,27.0,Operations,Austin,grace@email.com,555-7181,F,2021-03-30,On Leave,78000,3500,8,3,7,No,Onsite,2019,2
7,8,Hank,31.0,Support,Seattle,hank@email.com,555-9202,M,2017-08-15,Inactive,65000,2200,3,5,11,Yes,Remote,2023,1
8,9,Ivy,30.0,Admin,Denver,ivy@email.com,555-1222,F,2014-04-10,Active,71000,2800,5,4,6,No,Onsite,2021,3
9,10,Jack,33.0,HR,Phoenix,jack@email.com,555-3242,M,2018-11-20,Active,89000,6000,9,5,13,Yes,Hybrid,2018,4
10,11,Kathy,25.0,Engineering,San Francisco,kathy@email.com,555-5262,F,2013-06-05,Inactive,80000,4500,7,4,9,No,Remote,2017,2
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67000,2700,4,3,5,Yes,Onsite,2022,2
12,13,Mona,41.0,Finance,San Diego,mona@email.com,555-9303,F,2016-02-22,Active,74000,3200,6,4,7,No,Hybrid,2020,3
13,14,Nina,36.0,IT,Orlando,nina@email.com,555-1343,F,2021-07-12,On Leave,69000,2900,5,3,6,No,Onsite,2021,2
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76000,3400,7,5,8,Yes,Remote,2019,1
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84000,4800,8,4,10,No,Hybrid,2018,3
16,17,Quincy,45.0,HR,Las Vegas,quincy@email.com,555-7404,M,2011-03-09,Active,92000,5300,12,5,15,Yes,Onsite,2016,4
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71000,3000,5,3,7,No,Remote,2022,3
18,19,Steve,42.0,IT,Detroit,steve@email.com,555-3444,M,2012-11-05,On Leave,88000,5600,11,4,14,Yes,Hybrid,2017,4
19,20,Tina,34.0,Support,Minneapolis,tina@email.com,555-5464,F,2016-06-30,Active,77000,3700,6,4,9,No,Onsite,2020,2